body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #00402F;
}

a {
  color: #00B7FF;
}
